@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');



$fp: 'Poppins', sans-serif;
$clr1:#3a3a3a;
$clr4:#333333e1;
$clr2:#f5f6f8;
$hov:  #336699;
$clr3: #a94442;
$black:#000;

//form area start 



//form area end 